<!DOCTYPE html>
<html lang="en">
<body class="animsition">
    <%- include('sidebar'); %>
        <div class="page-container">
            <div class="main-content">                
                    <div class="container-fluid">
                                <div class="table-data__tool-right" align="right">
                                    <a href="addmember"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add members</button></a>
                                </div>
                                
                                <br>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Member id</th>
                                                <th>Flat No</th>
                                                <th>Full Name</th>
                                                <th>Flat Members</th>
                                                <th>Contact No</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            <%
                                            if(data.length!=0){
                                            var i=1;
                                            data.forEach(function(res){
                                            %>
                                                <a href="#">
                                                <tr>
                                                    <td><%=res.Login_ID %></td>   
                                                    <td><%=res.Flat_No %></td>                                 
                                                    <td><%=res.Name %></td>                                 
                                                    <td><%=res.Flat_Members %></td>                                 
                                                    <td><%=res.Contact_No %></td>    
                                                    <td><%=res.Role %></td>    
                                                
                                                    
                                                </tr>
                                            </a>
                                            <%}) %>
                                            <% } else{ %>
                                                <tr>
                                                    <td colspan="6">No Data Found</td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
								</div>                     
                            </div>
                        </div>
                    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
